# 忽略環境變數檔案
.env

# 忽略備份目錄
/backups/

# 忽略常見的系統與 IDE 檔案
.DS_Store
/database/milvus_data/.minio.sys/*
/database/milvus_data/a-bucket/*
/database/milvus_data/.minio.sys/*
/database/milvus_data/rdb_data*/*
/database/config/*.env
/backend/config/*.env
*.swo
*.swp
*.pyc
*.sqlite3

*.csv
*.bin
*.init_done