fastapi
websockets
cryptography
pandas
configparser
flask-cors
numpy 
scikit-learn 
torch 
diffusers 
accelerate 
datasets 
openai 
openai-agents
google-generativeai
pydantic
chardet
psycopg2-binary==2.9.9
asyncpg
pymongo==4.7.2
redis==5.0.2
pymilvus
python-dotenv==1.0.1
tenacity